.keep-alive-render {
  /* 这个类名用于标记需要被 keep-alive 包裹的组件 */
  width: 100%;
}

* {
  border: none;
}
/* 隐藏全局滚动条 - 兼容所有浏览器 */
html,
body {
  /* 火狐浏览器 */
  scrollbar-width: none;
  /* IE 浏览器 */
  -ms-overflow-style: none;

  transition: all 300ms ease-in-out;
}

/* Chrome / Edge / Safari 浏览器 */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* 如果你有局部滚动容器，也一起隐藏 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
